//global header color
$header-background-color: #FFFFFF;
$header-logo-color: #335576;
$header-navlink-color: #1f2c3a;
$nav-underline-color: #DB7A4E;

//hero color
$hero-background-color: #FEFAF5;
$hero-title-color: #335576;
$hero-slogan-color: #335576;
$hero-button-background: #DB7A4E;
$recommandation-title-color: #335576;

//card variables
$card-width: 21.875rem;
$card-height: 34.375rem;
$card-padding: 1rem;

$content-card-width: 18.75rem;
$content-card-height: 28.125rem;
$content-card-padding: 1rem;
$content-item-background-color: #FEFAF5;

//footer variables
$footer-background-color: #FEFAF5;
$footer-title-color: #335576;
$footer-subtitle-color: #DB7A4E;