@use '../variables';

header {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    background-color: variables.$header-background-color;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index to make sure the header is always on top otherwise the cards in the pages was overlapping */
    z-index: 999;
}

.navheader {

    padding-right: 4rem;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: variables.$header-logo-color;
        text-decoration: none;
    }

    &__links {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;

    }

    &__listitem {
        margin-left: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        padding-right: 1rem;
    }

    &__link {
        color: variables.$header-navlink-color;
        text-decoration: none;

        &:hover {
            border-bottom: 0.2rem solid variables.$nav-underline-color;
            padding-bottom: 0.5rem;
        }

    }

}

.active {
    border-bottom: 0.2rem solid variables.$nav-underline-color;
    padding-bottom: 0.5rem;
}